{% extends 'staff/staffdashboard.html' %}
{% load static %}


{% block content %}
<div class="right_col" role="main">
    <div class="container">
        <div class="page-title">
            <div class="title_left">
                <h3>User Registration</h3>
            </div>
        </div>

        <div class="container">
        <h2><u>User Details</h2></u>
            <form method="POST" action="{% url 'staffusermail' %}">
                {% csrf_token %}
                <br>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" name="address" value="{{ user.address }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="dob" class="form-label">Date of Birth</label>
                    <input type="text" class="form-control" id="dob" name="dob" value="{{ user.dob }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="sex" class="form-label">Sex</label>
                    <input type="text" class="form-control" id="sex" name="sex" value="{{ user.sex }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="marital_status" class="form-label">Marital Status</label>
                    <input type="text" class="form-control" id="marital_status" name="marital_status" value="{{ user.marital_status }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="aadhaar_no" class="form-label">Aadhaar Card No</label>
                    <input type="text" class="form-control" id="aadhaar_no" name="aadhaar_no" value="{{ user.aadhaar_no }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="landscape_level" class="form-label">Landscape Level</label>
                    <input type="text" class="form-control" id="landscape_level" name="landscape_level" value="{{ user.landscape_level }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="phone_number" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ user.phone_number }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="occupation" class="form-label">Occupation</label>
                    <input type="text" class="form-control" id="occupation" name="occupation" value="{{ user.occupation }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="house_no" class="form-label">House No</label>
                    <input type="text" class="form-control" id="house_no" name="house_no" value="{{ user.house_no }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="location" value="{{ user.location }}" readonly>
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="password"  class="form-label">Password</label>
                    <input type="password" id="password" name="password" required="required" value="{{ user.password }}"  readonly>
                   
                </div>
                <div class="mb-3">
                    <label for="mail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="mail" name="mail" value="{{ user.email }}" readonly>
                </div>
                <button type="submit" class="btn btn-primary">Send Email</button>
                <a href="{% url 'staffuserregistration' %}" class="btn btn-secondary">Back to Registration</a>
            </form>
            {% if messages %}
            {% for message in messages %}
            <p style="color:green;">{{message}}</p> 
            {% endfor %}
               {% endif %}
        </div>
    </div>
</div>
{% endblock %}
